body {
  margin: 0px;
}

section {
  scroll-margin-top: 80px;
}

a {
  color: #2b7a78;
}

.portfolio-hover {
  position: relative;
}

.portfolio-hover span {
  display: none;
}

.portfolio-hover:hover span {
  display: block;
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: white;
  left: 0;
  right: 0;
  top: calc(50% - 25px);
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

/* Opacity #2 */
.hover12 figure {
  background: #3aafa9;
  border-radius: 10px;
}

.hover12 img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.hover12 :hover img {
  opacity: 0.05;
  cursor: pointer;
}

.navbar-dark {
  background-color: #2b7a78;
}

.header {
  height: 550px;
  padding: 100px;
  background: #3aafa9;
  color: white;
}

.portfolio {
  padding: 60px 0px 10px;
  background: #def2f1;
}

.modal-content,
.list-group-item {
  background: #def2f1;
}

.portfolio h1 {
  padding-bottom: 25px;
}

.modal-img {
  padding: 25px;
}

.about {
  height: 300px;
  text-align: center;
  background: #3aafa9;
  color: white;
  padding-top: 80px;
}

.contact {
  padding: 50px;
  background: #def2f1;
  color: #625750;
}

.web-links {
  height: 300px;
  background: #3aafa9;
  color: white;
  text-align: center;
  padding: 100px;
}

.copyright {
  height: 75px;
  background: #2b7a78;
  color: white;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.btn-circle.btn-xl {
  width: 60px;
  height: 60px;
  padding: 9px 12px;
  border-radius: 40px;
  border-width: 2px;
  font-size: 25px;
  text-align: center;
}
